*{
    margin: 0;
    padding: 0;
}
/* .container{
    height: 100%;
    width: 100%;
    background-color: green;
    clip-path: polygon(0 0, 100% 0, 100% 56%, 0% 100%);
    position: absolute;
    display: flex;
} */
/* .container{
    width: 500px;
    height: 350px;
    border: 1px solid black;
    /* padding: 100px; 
    margin: 20px;
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;

} */
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 15px;
    color: white;
    width: 100%;
    height: 5px;
}
.menu-items{
    display: flex;
    
}
.menu-items li{
    list-style: none;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}
.menu-items li:hover{
    color: blue;
    cursor: pointer;
}
.logo{
    font-size: 35px;
    text-align: left;
    padding: 10px;
    margin: 5px;
    width: 50%;
}
.banner-container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    align-items: center;
}

.banner-left{
    width: 50%;
    margin-left: 50px;
}
.banner-left h6{
    color: red;
    font-size: 24px;
    margin: 20px;
}
.banner-left h1{
    font-weight: bold;
    font-size: 60px;
    margin: 20px;
}
.banner-left p{
font-size: 25px;
margin: 20px;
}
.btn{
    margin: 20px;
    padding: 18px 38px;
    background-color: rgb(224, 130, 104);
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    text-decoration: none;

}

article{
    margin-top: 70px;
    padding: 50px;
    
}
article h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.look-container{
    display: flex;
    justify-content: space-evenly;
}

.icon-1{
    width: 50px;
}
.cart1{
    width: 350px;
    height: 250px;
    border: 1px solid gray;
    text-align: center;
    box-shadow: 8px 8px 16px gray;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    transition: .8ms;
}

.cart1:hover{
    border: 1px solid rgb(243, 29, 29);
    margin-top:0px;
    transition:.8ms;
}
.about-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    background-size: cover;
    color: white;
    margin-top: 70px;
}
.left-container{
    width: 700px;
    /* border: 1px solid black; */
    display: flex;
}
.left-container img{
    width: 400px;
    height: 550px;
    transform: skewY(-15deg);
}
.right-container {
   padding: 40px;
 
}
.right-container ul{
    margin: 20px 30px 20px 40px;
}

.s-inquiry{
    width: 700px;
    height: 200px;
    background-image: url(./images/Gym-practice-project-main/images/shape/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}   
button{
    font-size: 30px;
    color: rgb(56, 54, 54);
    border-radius: 4px;
    border: none;
}
.inquiry h1{
    font-size: 45px;
}


.service{
    width: 400px;
    height: 520px;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 8px 8px 16px gray;
    

    
}
.service-img img{
    width: 100%;
    border-radius: 10px
    

}

.service-text{
    padding: 20px;
}

.service-footer{
    display: flex;
    justify-content: space-between;
}
.service-footer a{
    text-decoration: none;
    color: red;
}

.service-text h5{
    color: red;
    font-size: 20px;
}

.data-test{
     width: 100%;
     padding: 20px;
     margin-left: 40px;
    display: flex;
    
}
.data-h1{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.data-h1 h1{
    font-size: 50px;
}
.hr-color{
    margin: auto 50px;
    color: gray;
}

footer{
    height: 150px;
    text-align: center;
    padding: 20px;
}
footer p{
    margin-top: 10px;
}
footer a{
    text-decoration: none;
    font-size: 23px;
    color: black;
}
footer a+a{
    margin-left: 40px;
}
span{
    color: brown;
}

.batch{
    position: relative;

}
.batch img{
    width: 50px;
    top: -25px;
    left: 370px;
    position: absolute;
    

}